.button-group {
    display: flex;
    gap: 0.5rem; /* Espaçamento entre os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Alinha os botões verticalmente */
    margin-right: 2%;
  }